<% if params[:lightemup] %>
<%#= debug params %>
 
Hello, <%= session[:cas_user] %>!
<%#= session.inspect %>
<hr>
<% end %>

<div class="page-box">
<div class="page-box-content">
  
	<div id="top-box">
	 
	</div><!-- #top-box -->

	<%= render 'header' %>
 

<div id="main" class="page">
  <!-- <header class="page-header"> -->
    <div class="container">
      <article class="content col-sm-9">	
	      <h4 class="title">

	      	Welcome to FAU <%= get_fullname(@znum) %>! Let's get started!</h4>

	      <p>We want your transition to college life to be as smooth as possible. Below is a checklist of things to keep in mind and tasks you will need to complete prior to your arrival on campus.</p><br>
	   </article>
    </div>	
 <!--  </header> -->
  <div class="container">
    <div class="row">
      <article class="content col-sm-9">
		<ul id="checkoutsteps" class="clearfix panel-group">
		  <li class="panel">
			<a href="#step-1" class="step-title" data-parent="#checkoutsteps" data-toggle="collapse" id="welcometitle">
			  <div class="number"><!-- Step 1 --> <%= get_statusicon(@welcome_available, @welcome_complete) %></div>
			  <h6>Welcome</h6>
			</a>
			
			<div id="step-1" class="collapse in">
			  <div class="step-content">
			
					<h3 class="title">Go Owls!</h3>
					
					<a name="raptors"></a>

					<p>Lorem ipsum dolor sit amet, lacus nulla diamlorem, mi mauris non vel, nonummy habitant. Vel sollicitudin pede tempus magna id. Interdum sodales quam tempor vel, massa ut, hendrerit massa integer fusce vitae, ut ad. <a href="#divForm" class="lightbox" id="btnForm">[More Information]</a></p>

					<!-- <p>
						<a href="#divForm" class="gallery-images" id="btnForm">[More Information]</a>
					</p> -->
					
					<p>
					<div align="center">
						<iframe width="640" height="390" frameborder="0" style="max-width:100%;" allowfullscreen="" src="//www.youtube.com/embed?listtype=playlist&nnMTKjhOVq8&list=PLnOOOyLqcjkjTUf4XLmwuBUomAq70Bfsc&rel=0&index=1"></iframe>
					</div>
					</p>

									
					<div id="divForm" style="display:none">
						<div class="row">					     
					     	<div class="bottom-padding col-sm-12 col-md-12">
								<div class="title-box">
								  <h2 class="title">Additional Information</h2>
								</div>
								
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aliquam id pariatur accusantium perspiciatis deserunt officiis similique nihil dolor blanditiis dignissimos iure praesentium vero suscipit doloribus aperiam unde hic non sint neque molestiae consectetur voluptatum beatae ratione corporis repellat labore est ipsa voluptates temporibus! Possimus?</p>

								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aliquam id pariatur accusantium perspiciatis deserunt officiis similique nihil dolor blanditiis dignissimos iure praesentium vero suscipit doloribus aperiam unde hic non sint neque molestiae consectetur voluptatum beatae ratione corporis repellat labore est ipsa voluptates temporibus! Possimus?</p>


								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aliquam id pariatur accusantium perspiciatis deserunt officiis similique nihil dolor blanditiis dignissimos iure praesentium vero suscipit doloribus aperiam unde hic non sint neque molestiae consectetur voluptatum beatae ratione corporis repellat labore est ipsa voluptates temporibus! Possimus?</p>

								<!-- <button class="btn btn-block">Dont Wait - Join Us Now</button> -->
							  </div>					    
						</div>
					</div>


					
					
					
					<br><button type="button" class="btn btn-continue btn-danger" id="welcomeBut">Continue</button>
					
					
			  </div>
			</div>
		  </li>
		  
		  <li class="panel">
		  	<% if @deposit_available == 1 %>
				<a href="#step-2" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse" id="deposittitle">
			<% else %>
				<a href="#step-2" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="" id="deposittitle">
			<% end %>

			  <div class="number"><!-- Step 2 --><%= get_statusicon(@deposit_available, @deposit_complete) %> </div>
			  <h6>Pay Deposit</h6>
			</a>
			
			<div id="step-2" class="collapse">
			  <div class="step-content">
			  	<h3 class="title">Paying Your Admisssions Tuition Deposit</h3>
			 
				  		<p>The non-refundable admissions tuition deposit is for admitted freshman students only.</p>
				 		 
				 		<p>All admitted freshmen must confirm their intention to enroll and secure their space in the class with a $200.00 <strong>non-refundable</strong> deposit. The $200 is applied to your tuition and fees for the semester in which you are admitted to FAU. It will be forfeited if you pay the deposit and choose not to enroll at FAU for that term, or if you submit a change of entry request for a different term. Your space will be released to another applicant if the deposit is not received by<span style="text-decoration: underline;"> May 1 or within two weeks of admission if admitted after May 1 <sup>st</sup></span>.
                         <br><br>The deposit is applied to your account when you enroll and will be used toward your tuition and fees. It will be forfeited if you do not enroll.</p>
				 
                         <div class="buttons-box text-right">
						  <button type="button" class="btn btn-danger" id="depositBut">Continue</button>						 
						</div>
				
				<!-- <form class="row no-margin">
				  <div class="col-sm-6 col-md-6">
					<label>First Name: <span class="required">*</span></label>
					<input class="form-control" type="text">
				  </div>
				  <div class="col-sm-6 col-md-6">
					<label>Last Name: <span class="required">*</span></label>
					<input class="form-control" type="text">
				  </div>
				  
				  <div class="clearfix"></div>
				  
				  <div class="col-sm-6 col-md-6">
					<label>Company:</label>
					<input class="form-control" type="text">
				  </div>
				  <div class="col-sm-6 col-md-6">
					<label>Email Address: <span class="required">*</span></label>
					<input class="form-control" type="text">
				  </div>
				  
				  <div class="clearfix"></div>
				  
				  <div class="col-sm-6 col-md-6">
					<label>Address: <span class="required">*</span></label>
					<input class="form-control" type="text">
				  </div>
				  <div class="col-sm-6 col-md-6">
					<label>City</label>
					<input class="form-control" type="text">
				  </div>
				  
				  <div class="clearfix"></div>
				  
				  <div class="col-sm-6 col-md-6">
					<label>Telephone: <span class="required">*</span></label>
					<input class="form-control" type="text">
				  </div>
				  <div class="col-sm-6 col-md-6">
					<label>Fax:</label>
					<input class="form-control" type="text">
				  </div>
				  
				  <div class="clearfix"></div>
				  
				  <div class="col-sm-6 col-md-6">
					<label>Password: <span class="required">*</span></label>
					<input class="form-control" type="text">
				  </div>
				  <div class="col-sm-6 col-md-6">
					<label>Confirm Password: <span class="required">*</span></label>
					<input class="form-control" type="text">
				  </div>
				  
				  <div class="clearfix"></div>
				  
				  <div class="col-sm-12 buttons-box text-right">
					<button type="button" class="btn btn-danger">Continue</button>
					<span class="required"><b>*</b> Required Field</span>
				  </div>
				</form> -->
			  </div>
			</div>
		  </li>
		  
		  <li class="panel">
		  	
		  	<% if @account_available == 1 %>
				<a href="#step-3" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse" id="accounttitle">
			<% else %>
				<a href="#step-3" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="" id="accounttitle">
			<% end %>

			  <div class="number"><!-- Step 3 --> <%= get_statusicon(@account_available, @account_complete) %></div>
			  <h6>Create Account</h6>
			</a>
			
			<div id="step-3" class="collapse">
			  <div class="step-content">
			  	<h3 class="title">Claiming Your Account</h3>
			  	
				  		 <p>The FAUNet ID is the account name you will use to login to many of the systems you will utilize in your daily life at Florida Atlantic University. It is a part of your official FAU e-mail address (e.g., FAUNetID@fau.edu). All students, faculty and staff are automatically granted a FAUNet ID and may claim their account by logging into the MyFAU portal. While many online services provided by the University require a separate password, OIT is working to synchronize these passwords while striving to improve the security of the system.</p>

				  		<div class="buttons-box clearfix">
							<button class="btn btn-default" id="claimAccountBut">Claim Account</button>
						</div>

				  		 <div class="buttons-box text-right">
						  <button type="button" class="btn btn-danger" id="accountBut">Continue</button>						 
						</div>
				
			  </div>
			</div>
		  </li>
		  
		  <li class="panel">

		  	<% if @communication_available == 1 %>
				<a id="communicationhref" href="#step-4" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
			<% else %>
				<a id="communicationhref" href="#step-4" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
			<% end %>

			  <div class="number"><!-- Step 4 --> <%= get_statusicon(@communication_available, @communication_complete) %> </div>
			  <h6>Communication Preference</h6>
			</a>
			
			<div id="step-4" class="collapse">
			  <div class="step-content">
			  	<h3 class="title">How do you want to be contacted?</h3>
			  
				  		 <p>Stay up to date with FAU news, updates and the latest information about the entire Florida Atlantic community.</p>

				  		 <p>Please select all that apply below</p>
			
			
						<!-- <form>
						  <div>
							<label class="radio"><input type="radio" name="register"> Email</label>
							<label class="radio"><input type="radio" name="register"> Text</label>
						  </div>
						</form> -->


						  <div class="col-sm-6 col-md-6">
						  	<label class="checkbox">
								<input type="checkbox" name="communicationpref" value="email"> Email
						  	</label>

						  	<label class="checkbox">
								<input type="checkbox" name="communicationpref" value="mail"> Mail
						  	</label>

						  	<label class="checkbox">
								<input type="checkbox" name="communicationpref" id="mobileText" value="text"> Mobile/Text Messages
						  	</label>
						  </div>

						  

							<div class="col-sm-12 col-md-12 box register" id="mobileForm" style="display:none">
								<form class="form-box register-form form-validator">
								  <h3 class="title">Mobile Phone Information</h3>
								  <p>Please enter the mobile number where we can contact you.</p>
								  
								  <!-- 
								  <div class="form-group">
									<label>Full name: <span class="required">*</span></label>
					                <input type="text" class="form-control" name="fullName" data-bv-trigger="keyup" required data-bv-notempty-message="The full name cannot be empty">
					              </div> 
					              `-->

								  <div class="form-group">
									<label>Mobile number: <span class="required">*</span></label>
									<input type="tel" class="form-control" name="mobilenumber"
									  data-bv-trigger="blur"
									  data-bv-message="The mobile number is not valid"
									  required data-bv-notempty-message="The mobile number is required and cannot be empty"
									  pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$" data-bv-regexp-message="The mobile number can only consist of alphabetical, number, dot and underscore">
								  </div>
									
								  <!-- <div class="form-group">
									<label>Password: <span class="required">*</span></label>
					                <input class="form-control" name="password" type="password" required>
					              </div>
								  
								  <div class="form-group">
									<label>Email: <span class="required">*</span></label>
									<input class="form-control" name="email" type="email" required data-bv-emailaddress-message="The input is not a valid email address">
					              </div>

								  <div class="form-group">
									<label class="checkbox">
									  <input type="checkbox"> Sign Up for Newsletter
									</label>
								  </div> -->

								  <div class="buttons-box clearfix">
									<button class="btn btn-default">Create my account</button>
									<span class="required"><b>*</b> Required Field</span>
								  </div>
								</form><!-- .form-box -->
							  </div>


						  <div class="clearfix"></div>					  
				  			
				  		  <div class="buttons-box text-right">
							  <!-- <button type="button" class="btn btn-danger" id="communicationSave">Save</button>	  -->
							 <!--  <button type="submit" class="btn btn-danger" id="communicationSave">Save Preference</button> -->

							  <button type="button" class="btn btn-danger" id="communicationBut">Continue</button>		
						   </div>
					

						</form> 

				
						<!-- 
						<div class="buttons-box text-right">
						  <button type="button" class="btn btn-danger" id="communicationBut">Continue</button>		 
						</div> 
					     -->
					
			  </div>
			</div>
		  </li>
		  
		  <li class="panel">
		  <% if @immunization_available == 1 %>
			<a href="#step-5" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
		  <% else %>
		  	<a href="#step-5" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
		  <% end %>

			  <div class="number"><!-- Step 5 --> <%= get_statusicon(@immunization_available, @immunization_complete) %></div>
			  <h6>Immunization Holds</h6>
			</a>
			
			<div id="step-5" class="collapse">
				

			   
			  <div class="step-content">
			  		
		  		<h3 class="title">Immunization Policy</h3>

		  		<p>Pursuant to Florida Board of Governors Regulation 6.001(9), prior to registration, each student accepted for admission at Florida Atlantic University must submit a signed FAU Immunization Form.&nbsp; Florida Atlantic University requires documented proof of immunizations to Measles and Rubella.&nbsp; In addition, pursuant to Florida Board of Governors Regulations 6.007, effective July 1, 2008, all new matriculating students must also provide documentation of vaccinations against Meningococcal Meningitis and Hepatitis B or provide a signed waiver for each declined vaccination.&nbsp;</p>

		  		<p>
		  			<strong>		  				
		  				<%= get_immunization_status(@znum) %><br>
		  			</strong>
		  		</p>

		  		<p>
					<a href="http://www.fau.edu/shs/additional/immunization.php" target="_blank">[More Information]</a>
		  		</p>

		  		<div class="buttons-box text-right">
				  <button type="button" class="btn btn-danger" id="immunizationBut">Continue</button> 
				</div>
					
				<!--<form>
				  <div>
					<label class="radio"><input type="radio" name="register"> Checkout as Guest</label>
					<label class="radio"><input type="radio" name="register"> Register</label>
				  </div>
				</form>
				
				<div class="buttons-box text-right">
				  <button type="button" class="btn btn-danger">Continue</button>
				  <span class="required"><b>*</b> Required Field</span>
				</div>-->
			  </div> 
			
			</div>
		  </li>
		  
		  <li class="panel">
		  	<% if @finaid_available == 1 %>
			   <a href="#step-6" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
			<% else %>
               <a href="#step-6" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
			<% end %>

			  <div class="number"><!-- Step 6 --> <%= get_statusicon(@finaid_available, @finaid_complete) %> </div>
			  <h6>Financial Aid Checklist</h6>
			</a>
			
			<div id="step-6" class="collapse">
			  <div class="step-content">

					  		<h3 class="title">Your Financial Aid Documents</h3>

					  		<p>Lorem ipsum Fugiat magna velit consectetur qui in veniam cillum exercitation Ut occaecat Duis mollit. Lorem ipsum Dolore dolor Excepteur sunt amet officia officia sunt aliquip id occaecat officia.</p>

					  		<!-- <p>
					  			<ul>								
									<li><a href="##">FAFSA Doc #1</a></li>
									<li><a href="##">FAFSA Doc #2</a></li>
									<li><a href="##">FAFSA Doc #3</a></li>
									<li><a href="##">FAFSA Doc #4</a></li>
									<li><a href="##">FAFSA Doc #5</a></li>																						
								</ul>
					  		</p> -->

					  	<!-- <p>
						  	<ul> -->
						  		<table class="table table-striped text-left order-details">
						  			<thead>
						  				<tr>
						  					<th class="product-name">FAFSA Document</th><th class="product-total">Status</th>
						  				</tr>
						  			</thead>

						  				<%= fin_aid_docs(@znum) %>
						  		</table>
						  		<br>
						  <!-- 	</ul>
					  	</p> -->

								
				<button type="button" class="btn btn-danger">Continue</button>
			  </div>
			</div>
		  </li>

		  <li class="panel">

		  <% if @residency_available == 1 %>
			<a href="#step-7" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
		  <% else %>
		  	<a href="#step-7" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
		  <% end %>

			  <div class="number"><!-- Step 7 --> <%= get_statusicon(@residency_available, @residency_complete) %> </div>
			  <h6>Residency Validation</h6>
			</a>
			
			<div id="step-7" class="collapse">	

			   
			  <div class="step-content">
			  		
		  		<h3 class="title">Residency for tuition purposes</h3>

		  		<p>Florida Residency for Tuition Purposes refers to whether you are an in-state Florida resident or an out-of-state resident, and this classification determines your tuition cost as defined by Florida state statute 1009.21 and the State Board of Education Rule 6A-10.044. Students are encouraged to review the following documents for additional information.<br> 
                     <br>All applicants must complete the Residency Classification for Tuition Purposes section of the application and submit the required documentation, regardless of the duration of their presence in Florida. A Florida resident for tuition purposes is defined as an individual who has resided in the state for 12 consecutive months while not enrolled in an institution of higher learning, prior to the beginning of classes, and who has established legal ties in Florida according to Florida Statute 1009.21.<br> 
                     <br>Florida Legislature has recently implemented significant changes to Florida Statute 1009.21. For updated information, please visit <a title="Florida Legislature" href="http://www.flsenate.gov/data/session/2009/Senate/bills/amendments/pdf/sb1696c2588994.pdf" target="_blank">here</a>. Florida residency content can be found beginning on page 10.</p>

                    <p>
                    	<strong>
                    		<%= get_residency_status(@znum) %><br>
                    	</strong>
                    <p>
					
				<!--<form>
				  <div>
					<label class="radio"><input type="radio" name="register"> Checkout as Guest</label>
					<label class="radio"><input type="radio" name="register"> Register</label>
				  </div>
				</form>
				
				<div class="buttons-box text-right">
				  <button type="button" class="btn btn-danger">Continue</button>
				  <span class="required"><b>*</b> Required Field</span>
				</div>-->
			  </div> 
			
			</div>
		  </li>
		  
		  <li class="panel">

		  	 <% if @housing_fee_available == 1 %>
				<a href="#step-8" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
			<% else %>
				<a href="#step-8" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
			<% end %>

			  <div class="number"><!-- Step 8 --> <%= get_statusicon(@housing_fee_available, @housing_fee_complete) %> </div>
			  <h6>Housing Fee</h6>
			</a>
			
			<div id="step-8" class="collapse">	

			   
			  <div class="step-content">
			  		
		  		<h3 class="title">On-Campus Housing</h3>

		  		<p>Lorem ipsum Ad ullamco elit reprehenderit veniam aute minim dolore ullamco incididunt ea do. Lorem ipsum Reprehenderit do consectetur dolore do fugiat proident incididunt consequat minim ullamco. Lorem ipsum Proident laboris dolore in aliqua ut magna minim irure ut proident. Lorem ipsum Anim dolore incididunt aliquip do irure aute reprehenderit reprehenderit enim ut. Lorem ipsum Reprehenderit commodo anim laboris ex cupidatat dolor deserunt dolore exercitation Ut et culpa.</p>

			
			  </div> 
			
			</div>
		  </li>

		  <li class="panel">
		  	<% if @housing_meal_plans_available == 1 %>
				<a href="#step-9" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
			<% else %>
				<a href="#step-9" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
			<% end %>

			  <div class="number"><!-- Step 9 --> <%= get_statusicon(@housing_meal_plans_available, @housing_meal_plans_complete) %></div>
			  <h6>Housing & Meal Plans</h6>
			</a>
			
			<div id="step-9" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">Housing & Meal Plans</h3>
		  		<p>Students who are assigned to the residence halls (Algonquin Hall, Glades Park Towers, Heritage Park Towers, Indian River Towers, Parliament Hall) do require a meal plan. Students assigned to both the Innovation Village North and South Apartments, or the University Village Apartments do NOT have to buy a meal plan, because they have their own full kitchens in each apartment. Students living in the apartments are free to purchase Owl Bucks or a commuter meal plan. Please visit the Dining Services website for more information.</p>			
			  </div> 			
			</div>
		  </li>

		  <li class="panel">

		  <% if @aleks_available == 1 %>
			<a href="#step-10" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
		  <% else %>
		  	<a href="#step-10" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
		  <% end %>

			  <div class="number"><!-- Step 10 --> <%= get_statusicon(@aleks_available, @aleks_complete) %></div>
			  <h6>Math Placement Exam - ALEKS</h6>
			</a>
			
			<div id="step-10" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">ALEKS</h3>
		  		<p>
				ALEKS is a mandatory math placement exam for incoming students. ALEKS is a powerful artificial-intelligence based mechanism to assess math proficiency and skill level. For the first attempt students may take the exam over the internet from any computer. Any subsequent attemps must be taken at FAU's Office of Testing &amp; Evaluation at either the Boca Raton Campus or the Davie Campus. For more information regarding the ALEKS Math Placement Exam please visit <a href="http://www.fau.edu/mathplacement" target="_blank">http://www.fau.edu/mathplacement</a>.
				</p>		


				<strong>
					
					<%= aleks_status(@znum) %>

				</strong>

			  </div>			
			</div>
		  </li>

		   <li class="panel">
		   	<% if @oars_available == 1 %>
				<a href="#step-11" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
			<% else %>
				<a href="#step-11" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
			<% end %>


			  <div class="number"><!-- Step 11 --> <%= get_statusicon(@oars_available, @oars_complete) %></div>
			  <h6>Online Advising & Resource System - OARS</h6>
			</a>
			
			<div id="step-11" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">OARS</h3>
		  		<p>
					"OARS" is a self-directed system. You may be a little nervous about choosing classes on your own, but DON'T WORRY! Help is always just a phone call or mouse click away, and the instructions are very user-friendly. When you log in to select your courses, you will find:
						A brief description of the course when you click on the subject.
						A sample class schedule for your major.
						It takes three (3) to five (5) business days to process your submitted OARS form. After three to five business days, log back into OARS to review your advisor's comments. If your holds are cleared and your course selections are in sync with your advisors, you can log into MyFAU to register for classes. That's all there is to it!
				</p>	

				<strong>
					
					<%= oars_status(@znum) %>

				</strong>


		  		<p>
					<a href="http://www.fau.edu/uas/oars.php" target="_blank">[More Information]</a>
		  		</p>

			  </div>			
			</div>
		  </li>

		  <li class="panel">
		  
		  <% if @learning_comm_available == 1 %>
			<a href="#step-12" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
		  <% else %>
		    <a href="#step-12" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
		  <% end %>

			  <div class="number"><!-- Step 12 --> <%= get_statusicon(@learning_comm_available, @learning_comm_complete) %></div>
			  <h6>Learning Communities</h6>
			</a>
			
			<div id="step-12" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">Connect with other students</h3>
				<p>
					Learning Communities help you make a fast, smooth, and easy transition to FAU! Connect with 20-24 other students who share similar interests by taking the same classes together your freshman year. Learning Communities make it easier to meet people, make friends and form study groups while connecting you through shared experiences and themed activities. 
				</p>	

				<p>
					<strong>
					 In a Learning Community you will:<br>
						<ul>
						    <li>Get to know people and make friends in your major or area of interest from the 1st day</li>
						    <li>Build relationships to make FAU’s campus feel more personal</li>
						    <li>Maximize your academic success</li>
						    <li>Get connected to FAU resources</li>
						    <li>Increase your likelihood to graduate on time</li>
						    <li>Develop a supportive network consisting of other students, peer mentors, and professors</li>
						    <li>Have fun!</li>
						</ul>
					</strong>
				</p>

				<p>
					<a href="http://www.fau.edu/class/learning-community/flc/lcsoffered.php" target="_blank">[More Information]</a>
				</p>

			  </div>			
			</div>
		  </li>

		   <li class="panel">

		   	<% if @orientation_available == 1 %>
				<a href="#step-13" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
			<% else %>
				<a href="#step-13" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
			<% end %>

			  <div class="number"><!-- Step 13 -->  <%= get_statusicon(@orientation_available, @orientation_complete) %></div>
			  <h6>Orientation</h6>
			</a>
			
			<div id="step-13" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">New Student Orientation</h3>
				<p>
					The University’s New Student Orientation program is designed to provide a clear and concise introduction to the university community. The program shares important information with students and their families regarding academic and student services. New Student Orientation is offered over the summer for students enrolling in the Summer or Fall semester and November through January for students enrolling in the Spring semester.
				</p>	

					<p>
					<strong>
						<%= orientation_status(@znum)%>
					</strong>
					</p>

				<p>
					<a href="http://www.fau.edu/orientation/" target="_blank">[More Information]</a>
				</p>

			  </div>			
			</div>
		  </li>

		   <li class="panel">
		   	
		   	<% if @reg_available == 1 %>		   	
		   		<a href="#step-14" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
		   	<% else %>
		   		<a href="#step-14" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
		   	<% end %>

			  <div class="number"><!-- Step 14 --> <%= get_statusicon(@reg_available, @reg_complete) %></div>
			  <h6>Registration</h6>
			</a>
			
			<div id="step-14" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">Register for Classes</h3>
				<p>Lorem ipsum Ad ullamco elit reprehenderit veniam aute minim dolore ullamco incididunt ea do. Lorem ipsum Reprehenderit do consectetur dolore do fugiat proident incididunt consequat minim ullamco. Lorem ipsum Proident laboris dolore in aliqua ut magna minim irure ut proident. Lorem ipsum Anim dolore incididunt aliquip do irure aute reprehenderit reprehenderit enim ut. Lorem ipsum Reprehenderit commodo anim laboris ex cupidatat dolor deserunt dolore exercitation Ut et culpa.</p>

				<p>
					<strong>
						<%= registered_hours(@znum)%>
					</strong>
				</p>

				
				<p>
					<a href="https://www.fau.edu/registrar/registration/" target="_blank">[More Information]</a>
				</p>

			  </div>			
			</div>
		  </li>

		  <li class="panel">
		  <% if @emergency_available == 1 %>
			<a href="#step-15" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
		  <% else %>
		    <a href="#step-15" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
		  <% end %>

			  <div class="number"><!-- Step 15 --> <%= get_statusicon(@emergency_available, @emergency_complete) %></div>
			  <h6>Emergency Contacts</h6>
			</a>
			
			<div id="step-15" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">Emergency Contacts</h3>
				<p>Lorem ipsum Ad ullamco elit reprehenderit veniam aute minim dolore ullamco incididunt ea do. Lorem ipsum Reprehenderit do consectetur dolore do fugiat proident incididunt consequat minim ullamco. Lorem ipsum Proident laboris dolore in aliqua ut magna minim irure ut proident. Lorem ipsum Anim dolore incididunt aliquip do irure aute reprehenderit reprehenderit enim ut. Lorem ipsum Reprehenderit commodo anim laboris ex cupidatat dolor deserunt dolore exercitation Ut et culpa.</p>
			  </div>			
			</div>
		  </li>

		   <li class="panel">
		   <% if @fau_alert_available == 1 %>
			<a href="#step-16" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
		   <% else %>
		    <a href="#step-16" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
		   <% end %>

			  <div class="number"><!-- Step 16 -->  <%= get_statusicon(@fau_alert_available, @fau_alert_complete) %></div>
			  <h6>FAU Alert Information</h6>
			</a>
			
			<div id="step-16" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">FAU Alert and Notification System</h3>
				<p>FAU Alert is the alert and notification system used to inform the University community of potential or actual emergency events or threats.&nbsp; It comprises of several tools including blast e-mails, text messages, call-out, outdoor warning sirens, and indoor notification systems. 
               </a>.</p>
			  </div>			
			</div>
		  </li>

		   <li class="panel">
		    <% if @owlcard_available == 1 %>
				<a href="#step-17" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
			<% else %>
				<a href="#step-17" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
			<% end %>

			  <div class="number"><!-- Step 17 -->  <%= get_statusicon(@owlcard_available, @owlcard_complete) %></div>
			  <h6>Owl Card</h6>
			</a>
			
			<div id="step-17" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">Get Your Owl Card</h3>
				<p>
					All Florida Atlantic University students are required to obtain an OWL Card. It serves as your official photo identification, as well as your FAU debit card, library card, and ticket to certain university events. In addition, for those that choose, it can also serve as your BB&T ATM card, residence hall building key and meal plan card. The FAU OWL Card is also recommended for faculty and staff.
				</p>
				

				<p>
					To obtain your OWL Card, visit the <a href="http://www.fau.edu/business-services/owl-card/locations.php" target="_blank">OWL Card Center</a> on Florida Atlantic University's Boca Raton or Davie campus. Bring with you a photo ID, either your driver's license, military ID or passport. You must also be registered for classes within the current semester or have a current FAU employment contract or LLS membership card.
				</p>

				<p>
					<a href="http://www.fau.edu/business-services/owl-card/request.php" target="_blank">[More Information]</a>
				</p>
			  </div>			
			</div>
		  </li>

		  <li class="panel">

		  <% if @bookadvance_available == 1 %>
			<a href="#step-18" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
		  <% else %>
		    <a href="#step-18" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
		  <% end %>

			  <div class="number"><!-- Step 18 --> <%= get_statusicon(@bookadvance_available, @bookadvance_complete) %> </div>
			  <h6>Book Advance Program</h6>
			</a>
			
			<div id="step-18" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">Book Advance Program</h3>
				<p>A University monetary  is advance available to degree-seeking students enrolled at least half-time at FAU for assistance with purchasing textbooks, emergency funds relating to educational expenses and unanticipated living expenses until the disbursement of financial aid. Keep in mind that the Short Term Advance is NOT a source to assist with paying your tuition and other related fees.</p>

				<p>
					Maximum loan amount is $750 with a non-refundable processing of $7.50 assessed. Students must meet additional eligibility criteria.
				</p>

				<p>
					To access the online Short Term Advance Application:<br>

					<ol>
					    <li>Log on to MyFAU</li>
					    <li>Click on the "Money Matters!" tab</li>
					    <li>Click on the "Short Term Advance Application" link</li>
					</ol>

				</p>

				<p>
					<a href="http://www.fau.edu/finaid/other/sta.php" target="_blank">[More Information]</a>
				</p>
			  </div>			
			</div>

			

		  </li>

		  <li class="panel">
		  	
		  	<% if @tuition_available == 1 %>
				<a href="#step-19" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
			<% else %>
				<a href="#step-19" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
			<% end %>

			  <div class="number"><!-- Step 19 --> <%= get_statusicon(@tuition_available, @tuition_complete) %></div>
			  <h6>Tuition Payment</h6>
			</a>
			
			<div id="step-19" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">Tuition and Billing Services</h3>
				
				  <p>
                  Florida Atlantic University is pleased to announce there will be no net increase of tuition and fees for the 2014-15 Academic Year. The last day to pay the balance due for Fall 2014 is August 25, 2014.
                  </p>
                  
                  <p>
                  Tuition and fees amounts are detailed at:
                  </p>
                  <a href="http://www.fau.edu/controller/student_information/tuition_breakdown.php" target="_blank">
                     
                        http://www.fau.edu/controller/student_information/tuition_breakdown.php 
                  </a>
                  <br>
                  
                  
                  <p>All payments will need to be made online, by mail or by using the drop box at the Boca Raton campus.</p>

                  <p>It is important to note you have the following options to pay your bill:</p>

                  <ul>
                  	<li>Online by using your Visa, MasterCard, American Express or Discover Card. Using the online system, the third party vendor will process your payment and apply it to your student account with a non-refundable fee of 2.60%</li>
                  	<li>Online by using your personal checking/savings account without a non-refundable fee.</li>
                  	<li>By check or money order mailed to Florida Atlantic University. The postmark of your payment will be used to determine timeliness of the payment.</li>
                  	<li>By check or money order dropped into the drop box located at the Cashier’s Office in the Student Services Building on the Boca Raton campus.</li>
                  </ul>
                  <br>
                  <p>
                		If you have any questions, please email <a href="mailto:webcontroller@fau.edu">webcontroller@fau.edu</a> or call tuition and billing services (561)297-6101.
                  </p>
              
				</div>			
			</div>
		  </li>

		 
		  <li class="panel">
		  	
		  	<% if @vehicle_reg_available == 1 %>
				<a href="#step-20" class="collapsed step-title" data-parent="#checkoutsteps" data-toggle="collapse">
			<% else %>
				<a href="#step-20" class="collapsed step-title disabled" data-parent="#checkoutsteps" data-toggle="">
			<% end %>

			  <div class="number"><!-- Step 19 --> <%= get_statusicon(@tuition_available, @tuition_complete) %></div>
			  <h6>Register Your Vehicle</h6>
			</a>
			
			<div id="step-20" class="collapse">				   
			  <div class="step-content">			  		
		  		<h3 class="title">Register your vehicle</h3>
				
				  <p>
                 	Students are eligible to register for their parking permits 24 hours after they have registered for their classes. To register for a permit: 
                  </p>
                  
                   <p>All payments will need to be made online, by mail or by using the drop box at the Boca Raton campus.</p>

                  <p>It is important to note you have the following options to pay your bill:</p>

                  <ol>
                  	<li>Go to MyFAU account. (myfau.fau.edu)</li>
                  	<li>Students click on the “Money Matters” tab.</li>
                  	<li>Click on “Parking and Transportation Services”.</li>
                  	<li>Click on “Purchase Permit”.</li>
                  	<li>Fill out the information correctly.</li>
                  	<li>Print out the confirmation page and follow the instructions carefully.</li>
                  </ol>
              		
              	   <p>              	   	
              	   	<br>
              	   	<a href="http://www.fau.edu/parking/allpermits.php" target="_blank">
              	   		[More Information]
              	   	</a>
              	   </p>
				</div>			
			</div>
		  </li>


		  


		</ul><!-- #checkoutsteps -->
      </article><!-- .content -->

 
			
		<div class="col-md-3">
		  <div class="title-box">
			<h2 class="title">Your Progress</h2>
		  </div>
		  <!-- <div data-appear-progress-animation="80%" class="progress progress-striped active">
			<div class="progress-bar progress-bar-warning" style="width: 80%; text-indent: 10px;">Web Design 80%</div>
		  </div> -->
		  
		  <div id="metercontainer" data-appear-progress-animation="0%" class="progress progress-striped active">
			<div id="meterdisplay" class="progress-bar progress-bar-fau" style="width: 0%; text-indent: 5px;">0% completed</div>
		  </div>
		  
		  <!-- <div data-appear-progress-animation="40%" class="progress progress-striped hover">
			<div class="progress-bar progress-bar-success" style="width: 40%; text-indent: 10px;">Opencart 40%</div>
		  </div>
		  
		  <div data-appear-progress-animation="90%" class="progress">
			<div class="progress-bar" style="width: 90%; text-indent: 10px;">Graphic Design 90%</div>
		  </div>
		  
		  <div data-appear-progress-animation="58%" class="progress progress-striped active hover">
			<div class="progress-bar progress-bar-info" style="width: 58%; text-indent: 10px;">WordPress 58%</div>
		  </div> -->
		</div>

       <div id="sidebar" class="col-sm-3 sidebar checkout-progress">
       	<aside class="widget">
		  <header>
			<h3 class="title">Your Tasks</h3>
		  </header>
		  <ul class="progress-list">
			<li id="welcomenav"><a href="#welcometitle" class="edit"><i class="fa fa-check"></i> completed</a>Welcome</li>
			<li id="depositnav"><a href="#" class="edit"><i class="fa fa-check"></i> completed</a> Pay Deposit</li>
			<li id="accountnav"><a href="#" class="edit"><i class="fa fa-check"></i> completed</a> Create Account</li>
			<li id="commnav"><a href="#" class="edit"><i class="fa fa-times"></i> completed</a> Communication Preference</li>
			<li id="immunenav"><a href="#" class="edit"><i class="fa fa-ban"></i> completred</a> Immunization Holds</li>
			<li id="finaidnav"><a href="#" class="edit"><i class="fa fa-ban"></i> incomplete</a> Financial Aid Checklist</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Residency Validation</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Housing Fee</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Housing & Meal Plans</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Math Placement Exam </li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Online Advising & Resource System</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Learning Communities</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Orientation</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Registration</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Emergency Contacts</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> FAU Alert Info</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Owl Card</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Book Advance Program</li>
			<li><a href="#" class="edit"><i class="fa fa-ban"></i> unavailable</a> Tuition Payment</li>
			<li><a href="#" class="edit"><a href="#raptors" class="edit"><i class="fa fa-ban"></i> unavailable</a> Car Registration</li>
		  </ul>
		</aside>
      </div> 

  
    
    </div>
  </div>
</div><!-- #main -->

</div><!-- .page-box-content -->
</div><!-- .page-box -->
<%= render 'footer' %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/price-regulator/jshashtable-2.1_src.js"></script>
<script src="/assets/price-regulator/jquery.numberformatter-1.2.3.js"></script>
<script src="/assets/price-regulator/tmpl.js"></script>
<script src="/assets/price-regulator/jquery.dependClass-0.1.js"></script>
<script src="/assets/price-regulator/draggable-0.1.js"></script>
<script src="/assets/price-regulator/jquery.slider.js"></script>
<script src="/assets/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="/assets/jquery.touchSwipe.min.js"></script>
<script src="/assets/jquery.elevateZoom-3.0.8.min.js"></script>
<script src="/assets/jquery.imagesloaded.min.js"></script>
<script src="/assets/jquery.appear.js"></script>
<script src="/assets/jquery.sparkline.min.js"></script>
<script src="/assets/jquery.easypiechart.min.js"></script>
<script src="/assets/jquery.easing.1.3.js"></script>
<script src="/assets/jquery.fancybox.pack.js"></script>
<script src="/assets/isotope.pkgd.min.js"></script>
<script src="/assets/jquery.knob.js"></script>
<script src="/assets/jquery.stellar.min.js"></script>
<script src="/assets/jquery.selectBox.min.js"></script>
<script src="/assets/jquery.royalslider.min.js"></script>
<script src="/assets/jquery.tubular.1.0.js"></script>
<script src="/assets/SmoothScroll.js"></script>
<script src="/assets/country.js"></script>
<script src="/assets/spin.min.js"></script>
<script src="/assets/ladda.min.js"></script>
<script src="/assets/masonry.pkgd.min.js"></script>
<script src="/assets/morris.min.js"></script>
<script src="/assets/raphael.min.js"></script>
<script src="/assets/video.js"></script>
<script src="/assets/pixastic.custom.js"></script>
<script src="/assets/livicons-1.4.min.js"></script>
<script src="/assets/layerslider/layerslider.transitions.js"></script>
<script src="/assets/layerslider/layerslider.kreaturamedia.jquery.js"></script>
<script src="/assets/revolution/jquery.themepunch.plugins.min.js"></script>
<script src="/assets/revolution/jquery.themepunch.revolution.min.js"></script>
<script src="/assets/bootstrapValidator.min.js"></script>
<script src="/assets/bootstrap-datepicker.js"></script>
<script src="/assets/jplayer/jquery.jplayer.min.js"></script>
<script src="/assets/jplayer/jplayer.playlist.min.js"></script>
<script src="/assets/jquery.scrollbar.min.js"></script>
<script src="/assets/main.js"></script>


<script type="text/javascript">
	
	 $("#btnForm").fancybox({
	 	'autoScale': true,
	 	'autoDimensions': true,
	 	'hideOnOverlayClick': true
	 	
	 });


	 // $("#btnForm").fancybox({
	 // 	'autoScale': true,
	 // 	'autoDimensions': true,
	 // 	'hideOnOverlayClick': true
	 	
	 // });
	
	
	$("#mobileText, #mobilePhone").click(function() {
	  //alert('Ohhhh KAY!!!!');
	  $("#mobileForm").toggle();
	});



	$('#claimAccountBut').click(function(event) {
	    event.preventDefault();
	    //window.open($(this).attr(""), "popupWindow", "width=600,height=600,scrollbars=yes");

	    window.open("http://boc22oimt2vhn.fau.edu:14000/SelfService", "PopupWindow", "width=600,height=600,scrollbars=yes,resizable=no");
	});

	 

	/* BEGIN: title click functions */
	$("#welcometitle").click(function() {
	   clearNavBar();
	   updateNavBar('#welcomenav');
	});

	$("#deposittitle").click(function() {
	  clearNavBar();
	  updateNavBar('#depositnav');	      
	});

	$("#accounttitle").click(function() {
	  clearNavBar();
	  updateNavBar('#accountnav');	      
	});
	/* END: title click functions */
	
	/* BEGIN: button click functions */
	$('#welcomeBut').click(function () {
	  $('#step-1').collapse('hide');
	  $('#step-1').prev().addClass('collapsed');
	  $('#step-2').collapse('show');
	  $('#step-2').prev().removeClass('collapsed');
	  clearNavBar();
	  updateNavBar('#depositnav');
	  updateMeter('5');

	 
	})

	$('#depositBut').click(function () {
	  $('#step-2').collapse('hide');
	  $('#step-2').prev().addClass('collapsed');
	  $('#step-3').collapse('show');
	  $('#step-3').prev().removeClass('collapsed');
	  clearNavBar();
	  updateNavBar('#accountnav');
	  updateMeter('10');
	})

	$('#accountBut').click(function () {
	  $('#step-3').collapse('hide');
	  $('#step-3').prev().addClass('collapsed');
	  $('#step-4').collapse('show');
	  $('#step-4').prev().removeClass('collapsed');
   	  clearNavBar();
	  updateNavBar('#commnav');
      updateMeter('15');

	})

	$('#communicationBut').click(function () {
	  $('#step-4').collapse('hide');
	  $('#step-4').prev().addClass('collapsed');
	  $('#step-5').collapse('show');
	  $('#step-5').prev().removeClass('collapsed');
	  clearNavBar();
	  updateNavBar('#immunenav');
	  updateMeter('20');
	})

	$('#immunizationBut').click(function () {
	  $('#step-5').collapse('hide');
	  $('#step-5').prev().addClass('collapsed');
	  $('#step-6').collapse('show');
	  $('#step-6').prev().removeClass('collapsed');
	  clearNavBar();
	  updateNavBar('#finaidnav');
	  updateMeter('25');

	})
	/* END: button click functions */


	 /* helper functions */
	 function clearNavBar(){
	 	$('.progress-list li.active').removeClass('active');		
	 }

	 function updateNavBar(objectID){
	 	//alert(objectID);
	 	$(objectID).addClass("active");
	 }

	 function updateMeter(increment){
	 	//$("#metercontainer").data("appear-progress-animation");
	  	$("#metercontainer").attr("data-appear-progress-animation", increment + '%');
	 
	  	$('#meterdisplay').text(increment + '% Completed');
	  	$("#meterdisplay").attr("style",'width: ' + increment + '%; text-indent: 10px;');

	 }
</script>