<p id="notice"><%= notice %></p>

<p>
  <strong>Znumber:</strong>
  <%= @modules_available.znumber %>
</p>

<p>
  <strong>Netid:</strong>
  <%= @modules_available.netid %>
</p>

<p>
  <strong>Welcome:</strong>
  <%= @modules_available.welcome %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @modules_available.deposit %>
</p>

<p>
  <strong>Account:</strong>
  <%= @modules_available.account %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @modules_available.communication %>
</p>

<p>
  <strong>Immunization:</strong>
  <%= @modules_available.immunization %>
</p>

<p>
  <strong>Finaid:</strong>
  <%= @modules_available.finaid %>
</p>

<p>
  <strong>Housingfee:</strong>
  <%= @modules_available.housingfee %>
</p>

<p>
  <strong>Residency:</strong>
  <%= @modules_available.residency %>
</p>

<p>
  <strong>Housingmealplan:</strong>
  <%= @modules_available.housingmealplan %>
</p>

<p>
  <strong>Aleks:</strong>
  <%= @modules_available.aleks %>
</p>

<p>
  <strong>Oars:</strong>
  <%= @modules_available.oars %>
</p>

<p>
  <strong>Learning comm:</strong>
  <%= @modules_available.learning_comm %>
</p>

<p>
  <strong>Orientation:</strong>
  <%= @modules_available.orientation %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @modules_available.registration %>
</p>

<p>
  <strong>Emergency:</strong>
  <%= @modules_available.emergency %>
</p>

<p>
  <strong>Faualert:</strong>
  <%= @modules_available.faualert %>
</p>

<p>
  <strong>Owlcard:</strong>
  <%= @modules_available.owlcard %>
</p>

<p>
  <strong>Bookadvance:</strong>
  <%= @modules_available.bookadvance %>
</p>

<p>
  <strong>Tution:</strong>
  <%= @modules_available.tution %>
</p>

<p>
  <strong>Vehiclereg:</strong>
  <%= @modules_available.vehiclereg %>
</p>

<%= link_to 'Edit', edit_ftic_modules_available_path(@modules_available) %> |
<%= link_to 'Back', ftic_modules_availables_path %>
