<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>FAU Student Onboarding</title>
  <meta name="keywords" content="FAU Student Onboarding">
  <meta name="description" content="FAU Student Onboarding">
  <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Onboarding</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- Font -->
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic'>

  <!-- Plagins CSS -->
  <%= stylesheet_link_tag "css/buttons/buttons.css" %>
  <%= stylesheet_link_tag "css/buttons/social-icons.css" %>
  <%= stylesheet_link_tag "css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "css/jslider.css" %>
  <%= stylesheet_link_tag "css/settings.css" %>
  <%= stylesheet_link_tag "css/jquery.fancybox.css" %>
  <%= stylesheet_link_tag "css/animate.css" %>
  <%= stylesheet_link_tag "css/video-js.min.css" %>
  <%= stylesheet_link_tag "css/morris.css" %>
  <%= stylesheet_link_tag "css/royalslider/royalslider.css" %>
  <%= stylesheet_link_tag "css/royalslider/skins/minimal-white/rs-minimal-white.css" %>
  <%= stylesheet_link_tag "css/layerslider/layerslider.css" %>
  <%= stylesheet_link_tag "css/ladda.min.css" %>
  <%= stylesheet_link_tag "css/datepicker.css" %>
  <%= stylesheet_link_tag "css/jquery.scrollbar.css" %>
  <%= stylesheet_link_tag "css/datatables.min.css" %>
  
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">

  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  

  <!-- Theme CSS -->
  <%= stylesheet_link_tag "css/style.css" %>

  <!-- Responsive CSS -->
  <%= stylesheet_link_tag "css/responsive.css" %>
  
  <!-- Custom CSS -->
  <%= stylesheet_link_tag "css/customizer/pages.css" %>
  <%= stylesheet_link_tag "css/customizer/shop-pages-customizer.css" %>

  <!-- IE Styles-->
  <%= stylesheet_link_tag "css/ie/ie.css" %>
  
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" %></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" %></script>
	<link rel='stylesheet' href="css/ie/ie8.css" %>
  <![endif]-->

  <style type="text/css">
   .spinner {
 
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 10px;
  color:#00457C;

}

.spinner > div {
  background-color: #00457C;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
  </style>


 
  <%= csrf_meta_tags %>
</head>

<body class="fixed-header">

  <%= yield %>

  <noscript>Either your browser does not support JavaScript or you have disabled Javascript! Either switch to a different browser or enable Javascript on your current browser.</noscript>

</body>
</html>